<div class="card">
    <h4 class="card-header">Forgot Password</h4>
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <p>Provide the user name from the system. We will send you an OTP to verify that you are thee Onboarder of which the username belongs too.</p>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
            
            <div class="form-group">
                <a routerLink="../otp" class="btn btn-link">Submit</a>
                <a routerLink="../login" class="btn btn-link">Close</a>
            </div>
        </form>
    </div>
</div>